<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css')
    }}"
    />
    <title>DOG WEB</title>
  </head>
  <body>
    <h1>DOG WEB</h1>
    <h3>Get Dog🐶 Breed from the image</h3>
    <form action="/" method="post" enctype="multipart/form-data">
      <input type="file" name="dogImg" id="dogImg" />
      <br />
      <input type="submit" value="Make Prediction!" />
    </form>
    <h1>{{prediction}}</h1>
    <script src="{{ url_for('static', filename='index.js')}}"></script>
  </body>
</html>
