<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css')
    }}"
    />
    <title>DOG WEB</title>
  </head>
  <body>
    <h1>DOG WEB</h1>
    <h3>Know the Dog🐶 Breed from the image</h3>
    <img id="uploadPreview" />
    <h3 id="prediction_label">{{prediction}}</h3>
    <form action="/" method="post" enctype="multipart/form-data">
      <div>
        Choose Image
        <input
          type="file"
          name="dogImg"
          id="dogImg"
          class="hide_file"
          onchange="PreviewImage()"
        />
      </div>
      <br />
      <input type="submit" value="Make Prediction!" class="btn" />
    </form>
    <script type="text/javascript">
      function PreviewImage() {
        document.getElementById('prediction_label').innerText = ''
        var oFReader = new FileReader()
        oFReader.readAsDataURL(document.getElementById('dogImg').files[0])
        oFReader.onload = function (oFREvent) {
          document.getElementById('uploadPreview').src = oFREvent.target.result
        }
      }
    </script>
  </body>
</html>
